
@{
    ViewBag.Title = "Portfolio";
}

<h2>Portfolio</h2>

@*TO DO:
    #1. Add Link (below) to Layout CS - #2. Add Ation to Results Controller*@


<table class="table">
    <tr>
        <th>
            Portfolio ID
        </th>
        <th>
            Stock Name
        </th>
        <th>
            Ticker
        </th>
        <th>
            How Much Invested
        </th>
        <th>
            Cost-Per-Share
        </th>
        <th>
            Number of Shares
        </th>
        <th>
            Closing Cost-Per-Share
        </th>
        <th>
            Closing Vlaue
        </th> 
        <th>
            $ Amount Gain (Loss)
        </th>
        <th>
            Gain/Loss %
        </th>

    </tr>

    @foreach (var portfolio in ViewBag.StockTable)
     {
        <tr>
            <td>@portfolio.portfolioID</td>
            <td>@portfolio.stock1_name</td>
            <td>@portfolio.stock1_tkr</td>
            <td>@portfolio.stock1_beg_investment_value</td>
            <td>@portfolio.stock1_beg_share_price</td>
            <td>@portfolio.stock1_no_shares</td>
            <td>@portfolio.stock1_closing_share_price</td>
            <td>@portfolio.stock1_ending_investment_value</td>
            <td>@portfolio.profitloss1</td>
            <td>@portfolio.percentage1</td>
        </tr>
        <tr>
            <td></td>
            <td>@portfolio.stock2_name</td>
            <td>@portfolio.stock2_tkr</td>
            <td>@portfolio.stock2_beg_investment_value</td>
            <td>@portfolio.stock2_beg_share_price</td>
            <td>@portfolio.stock2_no_shares</td>
            <td>@portfolio.stock2_closing_share_price</td>
            <td>@portfolio.stock2_ending_investment_value</td>
            <td>@portfolio.profitloss2</td>
            <td>@portfolio.percentage2</td>
        </tr>
        <tr>
            <td></td>
            <td>@portfolio.stock3_name</td>
            <td>@portfolio.stock3_tkr</td>
            <td>@portfolio.stock3_beg_investment_value</td>
            <td>@portfolio.stock3_beg_share_price</td>
            <td>@portfolio.stock3_no_shares</td>
            <td>@portfolio.stock3_closing_share_price</td>
            <td>@portfolio.stock3_ending_investment_value</td>
            <td>@portfolio.profitloss3</td>
            <td>@portfolio.percentage3</td>
        </tr>
        <tr class="bold">
            <td></td>
            <td></td>
            <td></td>
            <td>@portfolio.totalbegining</td>
            <td></td>
            <td></td>
            <td></td>
            <td>@portfolio.totalending</td>
            <td>@portfolio.totalprofiit</td>
            <td>@portfolio.totalpercentage</td>
        </tr>

     }
</table>

