
@{
    ViewBag.Title = "Portfolio";
}

<br />
<br />

<h2>Portfolio</h2>

@*TO DO:
    #1. Add Link (below) to Layout CS - #2. Add Ation to Results Controller*@


<table class="table">
    <tr>
        <th>
            Delete Portifolio
        </th>
        <th>
            Portfolio ID
        </th>
        <th>
            Stock Name
        </th>
        <th>
            Ticker
        </th>
        <th>
            How Much Invested
        </th>
        <th>
            Cost-Per-Share
        </th>
        <th>
            Number of Shares
        </th>
        <th>
            Closing Cost-Per-Share
        </th>
        <th>
            Closing Vlaue
        </th>
        <th>
            $ Amount Gain (Loss)
        </th>
        <th>
            Gain/Loss %
        </th>

    </tr>

    @foreach (var portfolio in ViewBag.StockTable)
    {
        <tr>
            <td>
                <a href="../ChooseStocks/DeletePortfolio?portfolioID=@portfolio.portfolioID" onclick="return confirm('are you sure')">
                    <span class=" glyphicon glyphicon-trash"></span>Delete
                </a>
            </td>
            <td>@portfolio.portfolioID</td>
            <td>@portfolio.stock1_name</td>
            <td>@portfolio.stock1_tkr</td>
            <td>$@Math.Round(portfolio.stock1_beg_investment_value, 2)</td>
            <td>$@Math.Round(portfolio.stock1_beg_share_price, 2)</td>
            <td>@portfolio.stock1_no_shares</td>
            <td>$@Math.Round(portfolio.stock1_closing_share_price, 2)</td>
            <td>$@Math.Round(portfolio.stock1_ending_investment_value, 2)</td>
            <td>$@Math.Round(portfolio.profitloss1, 2)</td>
            <td>@portfolio.percentage1</td>
            <td><a href="../ChooseStocks/UpdatePortfolioForm?userChoice=@portfolio.portfolioID&num=1">Edit</a></td>
        </tr>
        
        <tr>
            <td></td>
            <td></td>
            <td>@portfolio.stock2_name</td>
            <td>@portfolio.stock2_tkr</td>
            <td>$@Math.Round(portfolio.stock2_beg_investment_value, 2)</td>
            <td>$@Math.Round(portfolio.stock2_beg_share_price, 2)</td>
            <td>@portfolio.stock2_no_shares</td>
            <td>$@Math.Round(portfolio.stock2_closing_share_price, 2)</td>
            <td>$@Math.Round(portfolio.stock2_ending_investment_value, 2)</td>
            <td>$@Math.Round(portfolio.profitloss2, 2)</td>
            <td>@portfolio.percentage2</td>
            <td><a href="../ChooseStocks/UpdatePortfolioForm?userChoice=@portfolio.portfolioID&num=2">Edit</a></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>@portfolio.stock3_name</td>
            <td>@portfolio.stock3_tkr</td>
            <td>$@Math.Round(portfolio.stock3_beg_investment_value, 2)</td>
            <td>$@Math.Round(portfolio.stock3_beg_share_price, 2)</td>
            <td>@portfolio.stock3_no_shares</td>
            <td>$@Math.Round(portfolio.stock3_closing_share_price, 2)</td>
            <td>$@Math.Round(portfolio.stock3_ending_investment_value, 2)</td>
            <td>$@Math.Round(portfolio.profitloss3, 2)</td>
            <td>@portfolio.percentage3</td>
            <td><a href="../ChooseStocks/UpdatePortfolioForm?userChoice=@portfolio.portfolioID&num=3">Edit</a></td>

        </tr>
        <tr class="bold">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>$@Math.Round(portfolio.totalbegining, 2)</td>
            <td></td>
            <td></td>
            <td></td>
            <td>$@Math.Round(portfolio.totalending, 2)</td>
            <td>$@Math.Round(portfolio.totalprofiit, 2)</td>
            <td>@Math.Round(portfolio.totalpercentage, 2)%</td>
        </tr>

        }
    </table>

