
@{
    ViewBag.Title = "Portfolio";
}

<h2>Portfolio</h2>

@*TO DO:
    #1. Add Link (below) to Layout CS - #2. Add Ation to Results Controller*@

<a href="/Home/ChooseStocks/Portfoilo">Add Portfolio</a>

<table class="table">
    <tr>
        <th>
            Stock Name
        </th>
        <th>
            Ticker
        </th>
        <th>
            How Much Invested
        </th>
        <th>
            Cost-Per-Share
        </th>
        <th>
            Number of Shares
        </th>
        <th>
            Closing Cost-Per-Share
        </th>
        <th>
            Closing Vlaue
        </th>
        <th>
            Gain/Loss %
        </th>

    </tr>

    @*@foreach (var portfolio in ViewBag.Portfolio.List)
     {
        <tr>

            <td>@portfolio.stock1_name</td>
            <td>@portfolio.stock1_tkr</td>
            <td>@portfolio.stock1_beg_investment_value</td>
            <td>@portfolio.stock1_beg_share_price</td>
            <td>@portfolio.stock1_no_shares</td>
            <td>@portfolio.stock1_closing_share_price</td>
            <td>@portfolio.stock1_ending_investment_value</td>
        </tr>
        <tr>
            <td>@portfolio.stock2_name</td>
            <td>@portfolio.stock2_tkr</td>
            <td>@portfolio.stock2_beg_investment_value</td>
            <td>@portfolio.stock2_beg_share_price</td>
            <td>@portfolio.stock2_no_shares</td>
            <td>@portfolio.stock2_closing_share_price</td>
            <td>@portfolio.stock2_ending_investment_value</td>
        </tr>
        <tr>
            <td>@portfolio.stock3_name</td>
            <td>@portfolio.stock3_tkr</td>
            <td>@portfolio.stock3_beg_investment_value</td>
            <td>@portfolio.stock3_beg_share_price</td>
            <td>@portfolio.stock3_no_shares</td>
            <td>@portfolio.stock3_closing_share_price</td>
            <td>@portfolio.stock3_ending_investment_value</td>
        </tr>
     }*@
</table>

