
@{
    ViewBag.Title = "UpdatePortfolio";
}

@model FinalProjectPortfolio.Models.Portfolio
<hr />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Datepicker - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<h2>EDIT</h2>

<h2>@ViewBag.Message</h2>

@if (ViewBag.Num == 1)
{
    <form action="../ChooseStocks/UpdatePortfolio" method="post">
        <div class="form-group">
            <input type="text" value="@Model.portfolioID" name="portfolioID" hidden />
            <input type="text" value="@ViewBag.Num" name="num" hidden />
            <label>Stock Name</label>
            <input type="text" name="stockName" value="@Model.stock1_name" class="form-control" />
        </div>

        <div class="form-group">
            <label>Stock Ticker</label>
            <input type="text" name="stockTkr" class="form-control" required placeholder=" ex. MSFT" />
        </div>

        <div class="form-group">
            <label>Date</label>
            <input type="text" name="stockDate" class="form-control" id="datepicker1" required />
        </div>

        <div class="form-group">
            <label>How Much to Invest in Stock #1</label>
            <input type="number" name="amountInvested" min="500" max="2000" class="form-control" required placeholder="Enter amount between 500 and 2000"/>
        </div>
        <div class="form-group">
            <label>Update your portfolio!</label>
            <input type="submit" value="Execute Buy" class="form-control" />
        </div>
    </form>
}


@if (ViewBag.Num == 2)
{
    <form action="../ChooseStocks/UpdatePortfolio" method="post">
        <div class="form-group">
            <input type="text" value="@Model.portfolioID" name="portfolioID" hidden />
            <input type="text" value="@ViewBag.Num" name="num" hidden />
            <label>Stock Name</label>
            <input type="text" name="stockName" value="@Model.stock2_name" class="form-control" />
        </div>

        <div class="form-group">
            <label>Stock Ticker</label>
            <input type="text" name="stockTkr" class="form-control"  />
        </div>

        <div class="form-group">
            <label>Date</label>
            <input type="text" name="stockDate" class="form-control" id="datepicker2" required />
        </div>

        <div class="form-group">
            <label>How Much to Invest in Stock #2?</label>
            <input type="number" name="amountInvested" min="500" max="2000" class="form-control" required placeholder="Enter amount between 500 and 2000" />
        </div>
        <div class="form-group">
            <label>Update your portfolio!</label>
            <input type="submit" value="Execute Buy" class="form-control" />
        </div>
    </form>
}


@if (ViewBag.Num == 3)
{
    <form action="../ChooseStocks/UpdatePortfolio" method="post">
        <div class="form-group">
            <input type="text" value="@Model.portfolioID" name="portfolioID" hidden />
            <input type="text" value="@ViewBag.Num" name="num" hidden />
            <label>Stock Name</label>
            <input type="text" name="stockName" value="@Model.stock3_name" class="form-control" />
        </div>

        <div class="form-group">
            <label>Stock Ticker</label>
            <input type="text" name="stockTkr" value="ex. NFLX" class="form-control" />
        </div>

        <div class="form-group">
            <label>Date</label>
            <input type="text" name="stockDate" class="form-control" id="datepicker3" required />
        </div>

        <div class="form-group">
            <label>How Much to Invest in Stock #3?</label>
            <input type="number" name="amountInvested" min="500" max="2000" class="form-control" required placeholder="Enter amount between 500 and 2000" />
        </div>
        <div class="form-group">
            <label>Update your portfolio!</label>
            <input type="submit" value="Execute Buy" class="form-control" />
        </div>
    </form>
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="~/Scripts/JavaScript.js"></script>


