<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*https://fontmeme.com/star-wars-font/*@
                <a href="../Home/Index"><img src="https://fontmeme.com/permalink/180622/89aa994931c4045924dea98787a4eaf4.png" class="wars" alt="star-wars-font" border="0"></a>
                @*@Html.ActionLink("StockWars", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            @*<img src="~/Content/Images/yoda-edit.png" height="20" width="20" alt="picture of Yoda" />*@
            <div class="navbar-collapse collapse">
                
                    <ul class="nav navbar-nav">
                    <li><a href="/ChooseStocks/StockSelector">Invest Now</a></li>
                    <li><a href="/ChooseStocks/Portfolio">Your Portfolio</a></li>
                    <li><a href="/Home/Leaderboard">Leader Board</a></li>
                    </ul>
                
                @*  @Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Grand Circus C#.Net Bootcamp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
